@model IEnumerable<JtsAutoShopWeb.Models.TicketModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, AdminWrap lite admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, Elegant admin lite design, Elegant admin lite dashboard bootstrap 4 dashboard template">
    <meta name="description"
          content="Elegant Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>JTS Dashboard</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/elegant-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="~/assets/node_modules/morrisjs/morris.css" rel="stylesheet">
    <!--c3 plugins CSS -->
    <link href="~/assets/node_modules/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/dist/css/style.css" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="~/dist/css/pages/dashboard1.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="~/css/TechTStyle.css" rel="stylesheet" />
</head>

<body class="skin-default-dark fixed-layout" style="background-color: #11ABC1">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Elegant </p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="~/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                            <!-- dark Logo text -->
                            <img src="~/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo text -->
                            <img src="~/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item hidden-sm-up">
                            <a class="nav-link nav-toggler waves-effect waves-light"
                               href="javascript:void(0)"><i class="ti-menu"></i></a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box">
                            <a class="nav-link waves-effect waves-dark"
                               href="javascript:void(0)"><i class="fa fa-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="fa fa-times"></i></a>
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href=""
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <div class="d-flex no-block nav-text-box align-items-center">
                <span><img src="~/assets/images/logo-icon.png" alt="elegant admin template"></span>
                <a class="waves-effect waves-dark ml-auto hidden-sm-down" href="javascript:void(0)">
                    <i class="ti-menu"></i>
                </a>
                <a class="nav-toggler waves-effect waves-dark ml-auto hidden-sm-up" href="javascript:void(0)">
                    <i class="ti-menu ti-close"></i>
                </a>
            </div>
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a class="waves-effect waves-dark " asp-area="" asp-page="/Index" aria-expanded="false">
                                <i class="fa fa-tachometer"></i><span class="hide-menu">Home</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" asp-area="" asp-page="/Index" aria-expanded="false">
                                <i class="fa fa-user-circle-o"></i><span class="hide-menu">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" asp-area="" asp-page="/Index" aria-expanded="false">
                                <i class="fa fa-table"></i><span class="hide-menu"></span>Dashboard
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" asp-area="" asp-page="/Index" aria-expanded="false">
                                <i class="fa fa-smile-o"></i><span class="hide-menu"></span>Services
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="map-google.html" aria-expanded="false">
                                <i class="fa fa-globe"></i><span class="hide-menu"></span>Transfers
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="pages-blank.html" aria-expanded="false">
                                <i class="fa fa-bookmark-o"></i><span class="hide-menu"></span>Cancellations
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="pages-error-404.html" aria-expanded="false">
                                <i class="fa fa-question-circle"></i><span class="hide-menu"></span>Products
                            </a>
                        </li>

                        <li>
                            <a class="waves-effect waves-dark" asp-area="" asp-page="/Index" aria-expanded="false">
                                <i class="fa fa-table"></i><span class="hide-menu"></span>View Services Required
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" asp-area="" asp-page="/Index" aria-expanded="false">
                                <i class="fa fa-smile-o"></i><span class="hide-menu"></span>View Serviced Tickets
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="map-google.html" aria-expanded="false">
                                <i class="fa fa-globe"></i><span class="hide-menu"></span>View All Tickets
                            </a>
                        </li>
                        <li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h4 class="text-themecolor">Technician Dashboard : Techicians Name</h4>
                    </div>
                    <div class="col-md-7 align-self-center text-right">
                        <div class="d-flex justify-content-end align-items-center">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                                <li class="breadcrumb-item active"><a asp-area="" asp-page="/Index"></a>Dashboard</li>
                            </ol>

                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Yearly Sales -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- News -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h5 class="card-title">Service Overview</h5>
                                        <h6 class="card-subtitle">Check the monthly services </h6>
                                    </div>
                                    <div class="ml-auto">
                                        <select class="custom-select b-0">
                                            <option>January</option>
                                            <option value="1">February</option>
                                            <option value="2" selected="">March</option>
                                            <option value="3">April</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="display-products">
                                <table class="products-table">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Car)
                                                <a class="filter-btn" asp-action="Technician2" asp-route-filterby="Car" asp-route-des="false">
                                                    <i class="fa-solid fa-arrow-down-a-z"></i>
                                                </a>
                                                <a class="filter-btn" asp-action="Technician2" asp-route-filterby="Car" asp-route-des="true">
                                                    <i class="fa-solid fa-arrow-down-z-a"></i>
                                                </a>
                                                <input type="text" placeholder="Search" id="productsearchbar" />
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ProblemDescription)
                                                <a class="filter-btn" asp-action="Technician2" asp-route-filterby="ProblemDescription" asp-route-des="false">
                                                    <i class="fa-solid fa-arrow-down-1-9"></i>
                                                </a>
                                                <a class="filter-btn" asp-action="Technician2" asp-route-filterby="ProblemDescription" asp-route-des="true">
                                                    <i class="fa-solid fa-arrow-down-9-1"></i>
                                                </a>
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TicketId)
                                                <a class="filter-btn" asp-action="Technician2" asp-route-filterby="TicketId" asp-route-des="false">
                                                    <i class="fa-solid fa-arrow-down-a-z"></i>
                                                </a>
                                                <a class="filter-btn" asp-action="Technician2" asp-route-filterby="TicketId" asp-route-des="true">
                                                    <i class="fa-solid fa-arrow-down-z-a"></i>
                                                </a>
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.AssignedTo)
                                                <a class="filter-btn" asp-action="Technician2" asp-route-filterby="TicketId" asp-route-des="false">
                                                    <i class="fa-solid fa-arrow-down-a-z"></i>
                                                </a>
                                                <a class="filter-btn" asp-action="Technician2" asp-route-filterby="TicketId" asp-route-des="true">
                                                    <i class="fa-solid fa-arrow-down-z-a"></i>
                                                </a>
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Reservation)
                                                <a class="filter-btn" asp-action="Technician2" asp-route-filterby="TicketId" asp-route-des="false">
                                                    <i class="fa-solid fa-arrow-down-a-z"></i>
                                                </a>
                                                <a class="filter-btn" asp-action="Technician2" asp-route-filterby="TicketId" asp-route-des="true">
                                                    <i class="fa-solid fa-arrow-down-z-a"></i>
                                                </a>
                                            </th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody id="">
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                @item.Car
                                            </td>
                                            <td>
                                                @item.ProblemDescription.ToString()
                                            </td>
                                            <td>
                                                @item.TicketId
                                            </td>
                                            <td>
                                                @item.AssignedTo
                                            </td>
                                            <td>
                                                @item.Reservation
                                            </td>
                                            <td>
                                                <a class="btn btn-sm btn-primary prod-btn" onclick="editDetailModal(@item.TicketId)">Edit</a> |
                                                <a class="btn btn-sm btn-primary prod-btn" onclick="viewDetailModal(@item.TicketId)">Details</a> |
                                                <a class="btn btn-sm btn-warning" onclick="deleteModal(@item.TicketId)" id="toggleDeleteModalBtn">Delete</a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- To do chat and message -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-8-md">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Today's Schedule</h5>
                                <h6 class="card-subtitle">check out your daily schedule</h6>
                                <div class="steamline m-t-40">
                                    <div class="sl-item">
                                        <div class="sl-left bg-success"> <i class="fa fa-user"></i></div>
                                        <div class="sl-right">
                                            <div class="font-medium">
                                                Meeting today <span class="sl-date"> 5pm</span>
                                            </div>
                                            <div class="desc">Meeting today from 8 to 10 Food Morning </div>
                                        </div>
                                    </div>


                                    <div class="sl-item">
                                        <div class="sl-left">
                                            <img class="img-circle" alt="user"
                                                 src="../assets/images/users/2.jpg">
                                        </div>
                                        <div class="sl-right">
                                            <div class="font-medium">
                                                Go to the Doctor <span class="sl-date">
                                                    5 minutes
                                                    ago
                                                </span>
                                            </div>
                                            <div class="desc">Contrary to popular belief</div>
                                        </div>
                                    </div>
                                    <div class="sl-item">
                                        <div class="sl-left">
                                            <img class="img-circle" alt="user"
                                                 src="~/assets/images/users/3.jpg">
                                        </div>
                                        <div class="sl-right">
                                            <div>
                                                <a href="#">Tiger Sroff</a> <span class="sl-date">5 minutes ago</span>
                                            </div>
                                            <div class="desc">
                                                Approve meeting with tiger
                                                <br><a href="javascript:void(0)"
                                                       class="btn m-t-10 m-r-5 btn-rounded btn-outline-success">Apporve</a>
                                                <a href="javascript:void(0)"
                                                   class="btn m-t-10 btn-rounded btn-outline-danger">Refuse</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Messages (5 New)</h5>
                                <div class="message-box">
                                    <div class="message-widget message-scroll">
                                        <!-- Message -->
                                        <a href="javascript:void(0)">
                                            <div class="user-img">
                                                <span class="round">P</span> <span class="profile-status away pull-right"></span>
                                            </div>
                                            <div class="mail-contnet">
                                                <h5>Pavan kumar</h5> <span class="mail-desc">
                                                    Lorem Ipsum is simply dummy
                                                    text of the printing and type setting industry. Lorem Ipsum has
                                                    been.
                                                </span> <span class="time">9:30 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="javascript:void(0)">
                                            <div class="user-img">
                                                <span class="round">S</span> <span class="profile-status away pull-right"></span>
                                            </div>
                                            <div class="mail-contnet">
                                                <h5>Sonu Nigam</h5> <span class="mail-desc">
                                                    I've sung a song! See you
                                                    at
                                                </span> <span class="time">9:10 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="javascript:void(0)">
                                            <div class="user-img">
                                                <span class="round">A</span> <span class="profile-status away pull-right"></span>
                                            </div>
                                            <div class="mail-contnet">
                                                <h5>Arijit Sinh</h5> <span class="mail-desc">
                                                    Simply dummy text of the
                                                    printing and typesetting industry.
                                                </span> <span class="time">
                                                    9:08
                                                    AM
                                                </span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="javascript:void(0)">
                                            <div class="user-img">
                                                <span class="round">P</span> <span class="profile-status away pull-right"></span>
                                            </div>
                                            <div class="mail-contnet">
                                                <h5>Pavan kumar</h5> <span class="mail-desc">
                                                    Just see the my
                                                    admin!
                                                </span> <span class="time">9:02 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="javascript:void(0)">
                                            <div class="user-img">
                                                <span class="round">S</span> <span class="profile-status away pull-right"></span>
                                            </div>
                                            <div class="mail-contnet">
                                                <h5>Pavan kumar</h5> <span class="mail-desc">
                                                    Welcome to the Elite
                                                    Admin
                                                </span> <span class="time">9:30 AM</span>
                                            </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="javascript:void(0)">
                                            <div class="user-img">
                                                <span class="round">A</span> <span class="profile-status away pull-right"></span>
                                            </div>
                                            <div class="mail-contnet">
                                                <h5>Sonu Nigam</h5> <span class="mail-desc">
                                                    I've sung a song! See you
                                                    at
                                                </span> <span class="time">9:10 AM</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2020 Elegent Admin by <a href="https://www.wrappixel.com/">wrappixel.com</a>
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/assets/node_modules/jquery/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="~/assets/node_modules/popper/popper.min.js"></script>
    <script src="~/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/dist/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="~/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/dist/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="~/assets/node_modules/raphael/raphael-min.js"></script>
    <script src="~/assets/node_modules/morrisjs/morris.min.js"></script>
    <script src="~/assets/node_modules/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!--c3 JavaScript -->
    <script src="~/assets/node_modules/d3/d3.min.js"></script>
    <script src="~/assets/node_modules/c3-master/c3.min.js"></script>
    <!-- Chart JS -->
    <script src="~/dist/js/dashboard1.js"></script>
</body>

</html>